@page

@model RazorPagesTutorial.IndexModel
@{
    ViewData["Title"] = "Employees";
    ViewData["Showbuttons"] = true;



}

<vc:head-count department-name="@null"></vc:head-count>

@*@await Component.InvokeAsync("HeadCount")*@

<hr />
<h1>Employees</h1>
@*<h3>@Model.Employees.Count()</h3>*@

<div class="card-deck">
    @foreach (var employee in Model.Employees)
    {

        <partial name="_DisplayEmployeePartial" model="employee" view-data="ViewData" />

    }

</div>

