@page
@model RazorPagesTutorial.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

<h1>The resource you are looking for cannon be found!</h1>
<a asp-page="/Employees/Index" class="btn btn-primary">
    <img  src="~/Images/404-error-page.jpg" alt="image"/>
   Click her to ge back to Home!
</a>

